<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #1CA5B8;">
  <div class="container-fluid" style="background-color: #1CA5B8;">
    <img src="../../assets/Pictures/colibri.png" width="50px">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a [routerLink]="['/']" class="p-2">Home</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/adicionar-producto']" class="p-2">Adicionar Productos</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/producto']" class="p-2">Listar Productos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
