<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
      <div style="overflow-x: auto;">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">GRADO</th>
              <th scope="col">
                <div>
                  <a [routerLink]="['/add-grado']" class="p-2">
                    <button class="btn btn-primary">Añadir Grado</button>
                  </a>
                </div>
              </th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr *ngFor="let grado of grados$; let i = index">
              <td scope="row">{{ grado.id }}</td>
              <td scope="row">{{ grado.grado }}</td>
              <td class="td-btn">
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-outline-success btn-sm p-2" (click)="onUpdateGrado(grado.id)">Editar</button>
                  <button type="button" class="btn btn-outline-danger btn-sm mr-2" (click)="onDeleteGrado(grado.id)">Eliminar</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
