<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12 offset-md1 col-sm-12">
      <div style="overflow-x: auto;">
        <table class="table" >
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">VARIEDAD</th>
              <th scope="col">COLOR</th>
              <th scope="col">
                <div>
                  <a [routerLink]="['/add-variedad']" class="p-2">
                    <button class="btn btn-primary">Añadir variedad</button>
                  </a>
                </div>
              </th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr *ngFor="let variedad of variedades$; let i = index">
              <td scope="row">{{ variedad.id }}</td>
              <td scope="row">{{ variedad.variedad }}</td>
              <td scope="row">{{ variedad.color }}</td>
              <td class="td-btn">
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-outline-success btn-sm p-2" (click)="onUpdateVariedad(variedad.id)">Editar</button>
                  <button type="button" class="btn btn-outline-danger btn-sm mr-2" (click)="onDeleteVariedad(variedad.id)">Eliminar</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
