<table class="table" >
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">VARIEDAD</th>
      <th scope="col">COLOR</th>
      <th scope="col">OPCIONES</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr *ngFor="let variedad of variedad">
      <th scope="row">{{ variedad?.id }}</th>
      <td>{{ variedad?.variedad }}</td>
      <td>{{ variedad?.color }}</td>
      <td><button class="btn btn-primary"><a class="nav-link active letra" aria-current="page" href="#">Editar</a></button> <button class="btn btn-danger"><a class="nav-link active letra" aria-current="page" href="#">Eliminar</a></button></td>
    </tr>
  </tbody>
</table>

