<div class="container">
  <div class="row">
    <div class="col-md-4 col-lg-4 offset-md-4 col-sm-12 mb-5">
      <form [formGroup]="FormData" role="form" (ngSubmit)="onSubmit(FormData.value)">
        <div class="form-group mb-3">
          <h2>Añadir Variedad</h2>
        </div>
        <div class="form-group">
          <label>ID</label>
          <input type="text" formControlName="id" class="form-control" placeholder="ID">
        </div>
        <div class="form-group">
          <label>VARIEDAD</label>
          <input type="text" formControlName="variedad" class="form-control" placeholder="VARIEDAD">
        </div>
        <div class="form-group">
          <label>COLOR</label>
          <input type="text" formControlName="color" class="form-control" placeholder="COLOR">
        </div>
        <div class="mt-2">
          <button type="submit" class="btn btn-success">Añadir</button>
        </div>
      </form>
    </div>
  </div>
</div>
