<app-grado-item></app-grado-item>
<table class="table" >
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">GRADO</th>
      <th scope="col">OPCIONES</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr *ngFor="let grado of grado">
      <th scope="row">{{ grado?.id }}</th>
      <td>{{ grado?.grado }}</td>
      <td>
      <!-- <button type="button" class="btn btn-primary" (click)="onGradoEdit()">Editar</button>&nbsp; -->
        <button type="button" class="btn btn-danger" (click)="onGradoDelete('1')">Eliminar</button></td>
    </tr>
  </tbody>
</table>




<!-- Text para borrar -->



<div style="width: 500px; margin: auto;">
  <div class="submit-form">
    <div >
      <form #gradoItemNew="ngForm">
        <div class="form-group row">
          <label for="title">ID</label>
          <input type="text" class="form-control" id="idGradoNuevo" required ngModel name="idGradoNuevo" placeholder="ID"/>
        </div>
        <div class="form-group row">
          <label for="description">GRADO</label>
          <input class="form-control" id="gradoGradoNuevo" required ngModel name="gradoGradoNuevo" placeholder="GRADO"/>
        </div>
      </form>

      <button (click)="addNewGrado(gradoItemNew)" type="submit" class="btn btn-success">Crear Grado</button>
    </div>
  </div>
</div>
