<app-grado-item></app-grado-item>
<table class="table" >
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">GRADO</th>
      <th scope="col">OPCIONES</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr *ngFor="let grado of grado">
      <th scope="row">{{ grado?.id }}</th>
      <td>{{ grado?.grado }}</td>
      <td>
      <!-- <button type="button" class="btn btn-primary" (click)="onGradoEdit()">Editar</button>&nbsp; -->
        <button type="button" class="btn btn-danger" (click)="onGradoDelete('1')">Eliminar</button></td>
    </tr>
  </tbody>
</table>
