<div class="container">
  <div class="row">
    <div class="col-md-4 col-lg-4 offset-md4 col-ms-12 mb-5">
      <form [formGroup]="FormData" role="form" (ngSubmit)="onSubmit(FormData.value)">
        <div class="form-group mb-3">
          <h2>Editar Producto</h2>
        </div>
        <div class="form-group">
          <label>ID</label>
          <input type="text" formControlName="id" class="form-control" [readOnly]="true">
        </div>
        <div class="form-group">
          <label>NOMBRE</label>
          <input type="text" formControlName="nombre" class="form-control">
        </div>
        <div class="form-group">
          <label>ESPECIE</label>
          <input type="text" formControlName="especie" class="form-control">
        </div>
        <div class="form-group">
          <label>VARIEDAD</label>
          <select class="form-select" aria-label="Default select example" formControlName="variedad">
            <option *ngFor="let variedad of variedades$" >{{ variedad.variedad }}</option>
          </select>
        </div>
        <div class="form-group">
          <label>GRADO</label>
          <select class="form-select" aria-label="Default select example" formControlName="grado">
            <option *ngFor="let grado of grados$" >{{ grado.grado }}</option>
          </select>
        </div>
        <div class="mt-2">
          <button type="submit" class="btn btn-success" [disabled]="isloading">Actualizar</button>
        </div>
      </form>
    </div>
  </div>
</div>
